<nav class="navbar">
    <ul>
      <li><a href="../index.html"><b>bartokstudio</b> / grafikdesign</a></li>
      <br>
      <li><a href="../portfolio.html">Portfolio</a></li>
      <li><a href="../workshop.html">Workshop</a></li>
      <li><a href="../bio.html">Bio</a></li>
      <br>
      <li><a href="mailto:design@bartokstudio.de">↗︎ Kontakt</a></li>
      <li><a href="https://instagram.com/bartokstudio">↗︎ Instagram</a></li>
      <li><a href="https://behance.com/bartokstudio">↗︎ Behance</a></li>
    </ul>
</nav>