<nav class="navbar">
  <ul class="navbar-left">
      <li><a href="../index.html"><b>bartokstudio</b><br>grafikdesign</a></li>
  </ul>
  <ul class="navbar-right">
      <li><a href="../index.html">NEXT</a></li>
  </ul>
</nav>

<style>
.navbar {
    background-color: pink;
    display: inline-block;
    padding: 10px 20px;
    max-width: 100vw !important;
    border-bottom: 1px solid rgb(232, 232, 232);
}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

.navbar a {
    text-decoration: none;
    color: black;
}
</style>