<nav class="navbar">
  <ul class="menu-1">
    <li><b>bartokstudio</b></li>
    <li><a href="portfolio.html">portfolio</a></li>
    <li><a href="workshop.html">workshop</a></li>
    <li><a href="bio.html">bio</a></li>
  </ul>
  <ul class="menu-2">
    <li><a href="mailto:design@bartokstudio.de">↗︎ Kontakt</a></li>
    <li><a href="https://instagram.com/bartokstudio">↗︎ Instagram</a></li>
  </ul>
</nav>

<div class="circle-text-container">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300 300" class="circle-text">
    <defs>
      <path id="circle-path" d="M 150,150 m 0,-100 a 100,100 0 1,1 0,200 a 100,100 0 1,1 0,-200" />
    </defs>
    <text>
      <textPath href="#circle-path" startOffset="0%" textLength="618">
        • bartokstudio • grafikdesign • visual identities
      </textPath>
    </text>
  </svg>
</div>


<style>
  /* Navbar Styling */
  .menu-1 {
    position: fixed;
    top: 40px;
    left: 40px;
    list-style: none;
    padding: 0;
    font-weight: 300;
  }
  
  .menu-1 li {
    margin-bottom: 10px;
    font-size: 2.2em;
    color: white;
    text-decoration: none;
  }

  .menu-1 a {
    color: white;
  }

  .menu-2 {
    position: fixed;
    bottom: 40px;
    left: 40px;
    list-style: none;
    padding: 0;
    font-weight: 300;
  }
  
  .menu-2 li {
    margin-bottom: 10px;
  }
  
  .menu-2 a {
    font-size: 2.2em;
    color: white;
    text-decoration: none;
  }

  .menu-1 a:visited,
.menu-1 a:focus,
.menu-1 a:active {
    color: white;
    text-decoration: none;
    outline: none;
}

.menu-2 a:visited,
.menu-2 a:focus,
.menu-2 a:active {
    color: white;
    text-decoration: none;
    outline: none;
}

  html, body {
    cursor: default !important;
  }

body a {
    cursor: pointer !important;
    pointer-events: auto;
    z-index: 50;
}

  /* Circle */
  .circle-text-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
  }

  .circle-text {
    width: 240px;
    height: 240px;
  }

  .circle-text text {
    font-family: Overpass, sans-serif;
    font-size: 24px;
    font-weight: 500;
    fill: white;
    pointer-events: none;
  }

</style>