<nav class="navbar">
  <ul class="menu-1">
    <li><a href="../index.html"><b>bartokstudio</b> / grafikdesign</a></li>
    <br>
    <li><a href="../portfolio.html">Portfolio</a></li>
    <li><a href="../workshop.html">Workshop</a></li>
    <li><a href="../bio.html">Bio</a></li>
    <br>
    <li><a href="mailto:design@bartokstudio.de">↗︎ Kontakt</a></li>
    <li><a href="https://instagram.com/bartokstudio">↗︎ Instagram</a></li>
  </ul>
</nav>

<style>
/* The Navbar container is now a flex container */
.navbar {
  font-size: 1em;;
  display: flex;             /* Enable flexbox */
  flex-direction: column;    /* Stack child elements vertically */
  height: 100vh;             /* Full viewport height */
  padding: 20px;             /* Optional: Padding around the navbar */
  box-sizing: border-box;   /* Ensure padding doesn't cause overflow */
  background: none;
}
</style>